[2017-02-03 06:46] jcfr opened #2 "WrapITKBuildOptionsPython is not found when importing itk with LazyLoading disabled"
[code]

[2017-02-08 05:54] jcfr commented on #2
This will be fixed by https://github.com/scikit-build/scikit-build/pull/245

[2017-02-08 12:22] thewtex commented on #2
Nice!

[2017-02-15 23:22] #2 closed

[2017-02-20 07:31] jcfr opened #15 "Automatic upload of nightly release"
Assuming GITHUB_TOKEN is set, doing the following on each build bot (linux, macosx, windows) should automatically upload the nightly releases:

[code]

More details here http://scikit-ci-addons.readthedocs.io/en/latest/addons.html#use-case-automatic-creation-of-nightly-prerelease-from-different-build-machines

Cc: @thewtex

[2017-02-20 16:49] thewtex commented on #15
@jcfr Thanks! Work in progress...

[2017-02-20 18:48] jcfr commented on #15
Let me know if you started on this, if not I will move forward with it from my :bed: :+1:

[2017-02-20 18:57] thewtex commented on #15
:+1:  I have started -- used it to upload the Linux wheels and sdist's!

OSX is next :-)

Make sure to get some :zzz:

[2017-03-14 13:54] thewtex commented on #15
OSX :heavy_check_mark:

Windows next :running_man:

[2017-04-06 14:57] blowekamp opened #20 "Investigate is zip_safe should be disabled"
Please see SimpleITK/SimpleITKPythonPackage@bdc00b98380e082c0c166efb36d7050bc0854ff9 for details.

[2017-04-06 21:35] thewtex commented on #20
Thanks for the note. I'll try to reproduce with ITK, then investigate enabling the option by default in skbuild.

CC: @jcfr

[2017-04-10 03:32] thewtex commented on #20
The result of building ITK with `python setup.py install`:

[code]

[2017-04-10 04:15] thewtex commented on #20
This error persists even after adding `zip_safe=False` -- it may point to a different issue.

[2017-04-15 15:08] thewtex commented on #15
:heavy_check_mark: Windows!

[2017-04-15 15:08] #15 closed

[2017-08-21 00:10] phcerdan opened #61 "Using `cache` in `travis`"
Hi, I am facing timeouts in a [external module](https://github.com/phcerdan/ITKIsotropicWavelets/blob/master/.travis.yml) in `travis` with the `macos` script: [macpython-download-cache-and-build-module-wheels.sh](https://github.com/InsightSoftwareConsortium/ITKPythonPackage/blob/master/scripts/macpython-download-cache-and-build-module-wheels.sh)

Do you have experience with [travis caching](https:

[2017-08-22 22:18] thewtex commented on #61
Yes, we should add travis caching support for the downloaded ITK build archive.

[2017-08-29 18:42] thewtex commented on #61
Looking into the [travis caching documentation](https://docs.travis-ci.com/user/caching/#Things-not-to-cache), it states

So, caching is not recommended for the binary downloads.

However, the builds speed is improved by #62

[2017-08-29 18:42] #61 closed

[2017-09-25 02:45] benjaminhon opened #65 "Noisy image using ImageToVTKImageFilter"
I am trying to connect loading a dicom series using ITK and display it to VTK. However using ITK python bindings, it seems to produce a noisy image. I think the problem is not with ImageToVTKImageFilter itself but with ImageSeriesReader. There is no issues when using SimpleITK to load the dicom series.

[code]

[2017-09-25 03:12] benjaminhon commented on #65
I notice that SimpleITK uses 16 bit signed integer, but I can't seem to use it in its python bindings.
there is no itk.SI

[2017-09-25 13:11] fbudin69500 commented on #65
Hi,

ITK is not wrapped for all possible types by default, which means that
unless you build it on your own computer and change the types that are
wrapped (when configuring ITK with CMake), you will have a limited number
of image pixel types available. In your case, you should be able to use
ITK.SS (signed short).
Hope this helps,

François

On Sun, Sep 24, 2017 at 11:12 PM, benjaminhon <notificat

[2017-09-25 13:11] #65 closed

[2017-09-27 20:40] phcerdan opened #66 "Option to only build specific python versions (2.7 and 3.6)"
Hi, I am facing timeouts in `travis` with the external module ITKIsotropicWavelets, config file: [.travis.yml](https://github.com/phcerdan/ITKIsotropicWavelets/blob/master/.travis.yml) and travis [webpage](https://travis-ci.org/phcerdan/ITKIsotropicWavelets) of the module.

Is there an option to not build the wrapping for python 3.4, and 3.5 that I can tweak from `.travis.yml`?

[2017-10-03 14:01] addisonElliott opened #67 "Source path directory too long"
When attempting to install via the pip:
`pip install itk`

I receive the following error:
[code]

According to this article (https://public.kitware.com/pipermail/community/2013-December/004475.html), the check is due to Visual Studio and truncation of commands.

Is there a way to specify the build and install directory? In addition, the build files in skbuild are fairly long as it is so I could **

[2017-10-03 14:21] fbudin69500 commented on #67
Thanks for reporting this issue. Could you provide more information about your system?
Which Windows, Visual Studio, and Python versions are you using? I am surprised that pip does not download automatically the binary wheel available on PyPI.

PS: A good place to start a conversion about a problem you are having with ITK is [our discourse forum](https://discourse.itk.org/).

[2017-10-03 19:32] thewtex commented on #67
Hi @addisonElliott,

Before running

[code]

was

[code]

executed? Some older versions of pip will not find the binaries correctly.

[2017-10-03 20:36] fbudin69500 opened #68 "Support Unsigned Short in ITK Python packages"
Currently, only `Unsigned Char` and `Signed Short` are wrapped. But people have asked to also have `Unsigned Short` wrapped [1] and it seems like a reasonable thing to do.

[1] https://discourse.itk.org/t/python-wheels-supported-image-types/253/2

[2017-10-03 21:42] fbudin69500 commented on #68
Update [discourse topic](https://discourse.itk.org/t/python-wheels-supported-image-types/253/4) when issue resolved or closed.

[2017-10-03 22:07] thewtex commented on #66
@phcerdan Good idea. Please take a look at #69

[2017-10-03 22:17] #66 closed

[2017-10-04 01:37] phcerdan opened #70 "Add option to download nightly build or latest release"
In the [download-cache-and-build scripts](https://github.com/InsightSoftwareConsortium/ITKPythonPackage/blob/master/scripts/macpython-download-cache-and-build-module-wheels.sh#L7) there is a hardcoded path to the [tag](https://github.com/InsightSoftwareConsortium/ITKPythonPackage/tags) to download.  Would it be possible for the user to change this tag to [latest](https://github.com/InsightSoftware

[2017-10-04 02:08] phcerdan commented on #70
Sorry, maybe I am confused and this is not the root of the issue. The problem I am facing is that `travis` seems to ignore latest changes in this repository (basically not building 3.4 as introduced by #69 ). I have deleted the cache in `travis`, but still building it.

[2017-10-04 07:53] addisonElliott commented on #67
Thanks for the comments guys.

@fbudin69500 I am running Windows 10 64-bit, Python 3.5.2, Microsoft Visual Studio 14 (2015). I found out the reason why a precompiled wheel was not being installed is because I was using a 32-bit version of Python (no idea why I downloaded 32-bit, probably just didnt notice).

@thewtex Yes, I tried that multiple times just in case and no luck.

I was able to install

[2017-10-04 10:08] benjaminhon opened #71 "LabelObject Pixel type none works"
Hi,
I don't seem to be able to get the right pixel type for creating a LabelObjectType using the python wrappers. I am trying to convert from the C++ code. here

https://itk.org/ITKExamples/src/Filtering/ImageFusion/OverlayLabelMapOnTopOfAnImage/Documentation.html

[code]

I keep getting this error

[code]

I tried other types but all seem to not be supported,

Can anyone help? thanks

[2017-10-04 10:09] benjaminhon commented on #65
Ok I seem to have solved it by using itk.F first then recasting  and rescaling it

[2017-10-04 14:20] fbudin69500 commented on #71
Hi,

See[ my answer to your question on the ITK Discourse forum](https://discourse.itk.org/t/using-labelmap-in-python/259).
Thanks!
Francois

[2017-10-04 14:28] fbudin69500 commented on #70
@thewtex and @jcfr : Any idea?

[2017-10-05 16:12] benjaminhon commented on #71
Thanks much appreciated!

Sent from my iPhone

[2017-10-05 21:20] #71 closed

[2017-10-05 21:28] thewtex commented on #70
@phcerdan good idea. #72 could enable this.

[2017-10-05 21:46] thewtex commented on #67
Great detective work, @addisonElliott :clap:

There is not a way to specify the build directory during the build.

Good suggestion regarding improvements to the documentation. Please review this PR: #73

[2017-10-05 23:34] thewtex opened #74 "Enable specification ITKPythonBuild version in module build scripts for Linux and Windows"
xref #72

[2017-11-06 16:09] #67 closed

[2017-11-29 19:55] #70 closed

[2017-11-29 19:58] thewtex opened #78 "delocate is failing on Python files"
Interestingly, `delocate-listdeps` has recently [started to fail](https://travis-ci.org/InsightSoftwareConsortium/ITKRingArtifact/builds/309055362) when building module packages:

[code]

CC: @jcfr @matthew-brett

[2017-11-29 20:10] jcfr commented on #78
The corresponding delocated code is https://github.com/matthew-brett/delocate/blob/aa323245fba373e307128ef227385241fde70160/delocate/tools.py#L133-L180

Could you report the output of `otool -L` for ringartifact python module ?

[2017-11-29 20:51] jcfr commented on #78
This is strange, the following message:

[code]
 should have been recognized as an exception and ignored.

See https://github.com/matthew-brett/delocate/blob/aa323245fba373e307128ef227385241fde70160/delocate/tools.py#L138-L139

[code]

[2017-11-29 23:03] thewtex commented on #78
It may be an otool version issue. I could not reproduce the error locally.

Locally, I have

[code]

TravisCI
[code]

I am working on getting the output of `otool -L` on TravisCI...

[2017-11-29 23:06] jcfr commented on #78
You could also remote connect to travis. See http://scikit-ci-addons.readthedocs.io/en/latest/addons.html#enable-worker-remote-access-sh

It is not a first class terminal .. but it should allow to get the output of otool

[2017-11-29 23:08] thewtex commented on #78
Neat!

[2017-11-30 07:45] thewtex commented on #78
Maybe related to the XCode 8.3 update?:
  https://blog.travis-ci.com/2017-11-21-xcode8-3-default-image-announce

[2017-11-30 08:07] matthew-brett commented on #78
Yes probably, I guess the error text has changed in some subtle way... I'll adapt the code to whatever it is - any clues?

[2017-11-30 15:23] thewtex commented on #78
Nothing is popping out. Here is the output on TravisCI:

[code]

Here is the output locally:

[code]

[2017-12-01 17:18] matthew-brett commented on #78
It does look the `otool` output changed for the newest version.  I've put up a set of fixes at https://github.com/matthew-brett/delocate/pull/27 - any takers for a quick review?

[2017-12-01 17:37] thewtex commented on #78
Thanks, @matthew-brett LGTM

[2017-12-03 16:24] #78 closed

[2017-12-03 16:25] thewtex opened #80 "macpython: Enable delocate for module wheel builds"
Following  the 4.13.0 when ITK Python build binaries have a new version of delocate, re-enable the module wheel delocate.

xref #79

[2017-12-18 19:39] #68 closed

[2017-12-18 19:43] thewtex opened #83 "Enable docstring generation for generated Python packages"
Pass `-DITK_WRAP_DOC:BOOL=ON` in the platform build scripts.

[2017-12-24 04:07] #80 closed

[2018-01-31 16:43] fbudin69500 opened #95 "Package version number"
Currently, the package version number is fetched with [git describe](https://github.com/InsightSoftwareConsortium/ITKPythonPackage/blob/master/scripts/update_python_version.py#L41), but this means that it uses the last tag, which may not be the current tag for new major releases. As an example, the current Python packages are names 4.13.xxxx when the current ITK_VERSION is 5.0.0 which is confusing

[2018-01-31 18:03] jcfr commented on #95
Good point.

If current commit is **NOT** a tag, I suggest to create a [developmental pre release](https://www.python.org/dev/peps/pep-0440/#developmental-releases) following this pattern:

[code]

where:

*  `X.Y` would be set to `5.0`. It could be extracted from the CMake script using a regex
*  `N` in `rcN` would be set to the number of commit since last release (variable `numberOfCommits` in [

[2018-03-05 05:30] parneshr opened #96 "Review package"
Would it be possible to include the review package in the wheels? I would like to use the ContourExtractor2DImageFilter which is in review. In the itk source directory, wrapping files for this exists but the wheel provides a convenient way of installing itk.

[2018-03-26 17:00] dgvigil opened #98 "ppc64le with Python 3.(5/6)"
In the releases there is a wheel available for ppc64le with python 2. Can one please be generated for either Python 3.5 or Python 3.6?  Either would be helpful.

[2018-03-26 23:31] thewtex commented on #96
`ContourExtractor2DImageFilter` is moved out of `ITKReview` in this patch:

  http://review.source.kitware.com/#/c/23296/

After merged, the Nightly ITK Python package or the 5.0 alpha packages could be used.

[2018-03-26 23:31] thewtex commented on #83
Complete by @fbudin69500

[2018-03-26 23:31] #83 closed

[2018-03-27 14:49] thewtex commented on #98
@dgvigil [Here](https://github.com/InsightSoftwareConsortium/ITKPythonPackage/releases/download/v4.13.0/itk-4.13.0-cp36-cp36m-linux_ppc64le.whl) is a wheel for Python 3.6. Please download it and install with

[code]

and let me know if it works for you.

Thanks!

[2018-03-27 18:35] dgvigil commented on #98
That worked. Thank you.

    python -m pip install itk-4.13.0-cp36-cp36m-linux_ppc64le.whl
    Processing ./itk-4.13.0-cp36-cp36m-linux_ppc64le.whl
    Installing collected packages: itk
    Successfully installed itk-4.13.0

[2018-03-27 21:54] #98 closed

[2018-04-17 04:00] thewtex commented on #96
The ITK 5.0 Alpha 1 packages can be installed with

[code]

[2018-04-17 04:00] #96 closed

[2018-04-18 03:37] parneshr commented on #96
Thank you!

[2018-05-25 14:26] thewtex commented on #74
This is done: https://discourse.itk.org/t/itk-external-module-github-builds-for-4-x-and-5-x/900

[2018-05-25 14:26] #74 closed

[2018-05-29 22:07] hackermd opened #105 "Reading Legacy Converted Enhanced Images"
I've converted a DICOM Series of Single-Frame MR Images to a Legacy Converted Enhanced MR Image using [MultiFrameImageFactory](http://www.dclunie.com/pixelmed/software/javadoc/com/pixelmed/dicom/MultiFrameImageFactory.html). When I try to load the generated multi-frame image using ITK's `imread` function, I get the following error:

[code]

Support for Legacy Converted Enhanced Image Storage class

[2018-05-30 14:02] blowekamp commented on #105
I have created a patch which updates ITK's GDCM to the latest:
http://review.source.kitware.com/#/c/23486/

Would you be able to build ITK with this patch and check to see if it adds support for your particular file?

xref: SimpleITK/SimpleITK#440

[2018-06-01 16:32] hackermd commented on #105
Thanks @blowekamp! It worked!

These are the steps to reproduce:

1) Install ITK from source using patch [23485](http://review.source.kitware.com/#/c/23485/1):

[code]

2) Test reading Legacy Converted Enhanced MR Image:

[code]

Where the content of `test_legacy_converted.py` looks as follows

[code]

[2018-06-01 16:35] blowekamp commented on #105
You can build SimpleITK against this ITK to get this support too, if you prefer that interface.

[2018-06-01 19:02] hackermd commented on #105
I've run a few tests to compare ITK Image objects resulting from reading the original series of legacy *MR Image* and *Legacy Converted Enhanced MR Image* instances. The actual pixel data are identical:

[code]

However, the spacing is different:

[code]

This is because the `ImageFileReader` does not interpret the DICOM metadata correctly:

[code]

The problem is that in case of the *Legacy Conve

[2018-06-01 19:11] hackermd commented on #105
The relevant attributes may also end up in the *Unassigned Per-Frame Converted Attributes Sequence* attributes (see [PS3.3 C.7.6.16.2.25.2 Unassigned Per-Frame Converted Attributes Macro](http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_C.7.6.16.2.html#sect_C.7.6.16.2.25.2)).

[2018-06-04 03:40] hackermd commented on #105
The return value of `legacy_image.GetSpacing()` is `itkVectorD3 ([0.9375, 0.9375, 5.99997])`, while `enhanced_image.GetSpacing()` returns `itkVectorD3 ([1, 1, 1])`.

To me, it seems this problem originates in GDCM. It appears GDCM looks for the _Pixel Spacing_ and _Spacing Between Slices_ attributes only at the root level of the dataset, but not in the _Pixel Measures Sequence_ of the _Shared Func

[2018-06-04 03:44] hackermd commented on #105
This is worrying, because it probably also affects multi-frame images of other SOP classes, such as Enhanced MR Image (see [Enhanced MR Image Functional Group Macros](http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_A.36.2.4.html)) and Enhanced CT Image (see [Enhanced CT Image Functional Group Macros](http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_A.38.htm

[2018-06-20 10:02] malaterre commented on #105
@hackermd I am one of the main author of GDCM and I can guarantee that GDCM is reading the Pixel Spacing from the correct location (esp. Per-Frame or Shared Function Groups Sequence). Please add a link to your generated DICOM DataSet?

[2018-06-20 10:03] malaterre commented on #105
@hackermd If you cannot redistribute your DICOM DataSet, please include the output from `gdcminfo my_enh.dcm` also specify the version of GDCM you are using.

[2018-06-26 02:10] hackermd commented on #105
@malaterre thanks for your feedback. Please find below the output of `gdcminfo` (GDCM version 2.8.6) for the DICOM file.

[code]

I will determine whether I can share the DICOM object.

[2018-07-16 20:38] hackermd commented on #105
@malaterre See [this comment](https://github.com/SimpleITK/SimpleITK/issues/440#issuecomment-383178644) on the corresponding SimpleITK github issue on how to generate the enhanced image object.

[2018-08-17 00:34] jcfr opened #108 "Lint python scripts"
[code]

[code]

[2018-08-17 00:51] thewtex commented on #108
Yes, we need to :lipstick: style it up. :medal_sports: . This is also identifying bugs, e.g.

[code]

:scream:

[2018-10-09 16:54] thewtex opened #112 "grep-win.zip not available on midas3.kitware.com"
@fbudin69500 Could you please put `grep-win.zip` on `data.kitware.com` and update this script?:

https://github.com/InsightSoftwareConsortium/ITKPythonPackage/blob/5b775b6abb1e1f7cc93e6a3b9daf440780f67553/scripts/windows-download-cache-and-build-module-wheels.ps1#L10

[2018-10-11 17:51] #112 closed

[2018-11-01 21:17] thewtex opened #116 "Improve Doxygen dependency use"
- [ ] Make Doxygen use optional.
- [ ] Allow specification of Doxygen executable path.
- [ ] Perform an early check that the executable path exists.

[2018-11-07 17:04] thewtex opened #118 "Build with `Release` `CMAKE_BUILD_TYPE`"
For improved performance.

Related:  https://github.com/InsightSoftwareConsortium/ITK/issues/58

[2018-11-07 17:06] thewtex opened #119 "Build packages with `BUILD_SHARED_LIBS` ON"
This will reduce the package size.

After re-building the package, we should re-build ITK with `BUILD_SHARED_LIBS` `OFF` so External ITK Module Python package builds have minimal binary compatibilty issues.

CC: @jcfr

[2018-12-22 04:43] thewtex commented on #105
@hackermd please try the 5.0 Beta 3 release where this should be addressed per:

https://github.com/InsightSoftwareConsortium/ITK/pull/315
https://github.com/InsightSoftwareConsortium/ITK/pull/208

[code]

[2018-12-22 23:59] hackermd commented on #105
@thewtex thanks for your follow up.

I just tested with version `5.0b3`. The enhanced image is now read correctly via the `imread()` function:

[code]

This returns `itkVectorD3 ([0.9375, 0.9375, 6])`.

However, it does not work with the `ImageFileReader` class:

[code]

This returns `itkVectorD3 ([1, 1, 1])`.

Notably, the output of  `ImageSeriesReader` is also not correct for the series of legac

[2018-12-23 16:41] thewtex commented on #105
@hackermd thanks for the update. I am glad to hear it is working with `itk.imread`.

Is there a a series that we can use to reproduce the legacy filenames issue and create a regression test?

[2018-12-25 17:56] hackermd commented on #105
@thewtex please see [this comment](https://github.com/SimpleITK/SimpleITK/issues/440#issuecomment-383178644) on issue #440 of SimpleITK repository on how to reproduce

[2018-12-25 18:00] hackermd commented on #105
I tested with series `1.3.6.1.4.1.9328.50.50.104552199813796461463367647403696421653` of study `1.3.6.1.4.1.9328.50.50.78410421624738603252174560245217471974`.

Expected spacing: `itkVectorD3 ([0.859375, 0.859375, 7.5])`

[2019-04-02 02:00] thewtex opened #125 "Update module development documentation for GitHub Actions"

[2019-04-12 13:49] thewtex opened #126 "Build / Deploy on Azure Pipelines"
We will need to split up the builds into ITK module groups, store the build tree from dependent group in an Azure Pipeline Artifact for re-use, and build across jobs to avoid timeout issues. We can use the [`dependsOn`](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/phases?view=azure-devops&tabs=yaml) configuration for jobs.

Suggested-by: @fbudin69500

[2019-05-13 09:59] buaaduke opened #128 "No Module named itkHelpers"
i install itk-v5.0rc2 and load a mesh file as follows，

import itk
meshReader = itk.MeshFileReader.New('bones.stl', itk.Mesh(itk.D, 3))

but get error like File "~/anaconda3/envs/py3t1/lib/python3.6/site-packages/itkTemplate.py", line 374, in __call__
    import itkHelpers
ModuleNotFoundError: No module named 'itkHelpers'

[2019-05-13 13:12] fbudin69500 commented on #128
Thanks for the report. I also stumbled upon this issue and I will submit a patch asap to solve it.

[2019-05-13 13:31] buaaduke commented on #128
Thank you for your reply. I changed my code as follows,

meshType = itk.Mesh[itk.F, 3]
meshReader = itk.MeshFileReader[meshType].New()
meshReader.SetFileName('bunny.obj')
meshReader.Update()

then i get error Segmentation fault (core dumped), i also try  ITKIOMeshSTL to load stl mesh, but still get the same error. How can i load mesh file?

[2019-05-13 17:41] fbudin69500 opened #129 "Error testing Linux Python2.7 wheels"
I get the following error message when creating the Python wheels for linux on my computer using the script [`dockcross-manylinux-build-wheels.sh`](https://github.com/InsightSoftwareConsortium/ITKPythonPackage/blob/master/scripts/dockcross-manylinux-build-wheels.sh). The error message is triggered inside [https://github.com/InsightSoftwareConsortium/ITKPythonPackage/blob/master/scripts/internal/ma

[2019-05-13 18:02] fbudin69500 commented on #128
Should be addressed by https://github.com/InsightSoftwareConsortium/ITKPythonPackage/pull/130

[2019-05-14 06:43] buaaduke commented on #128
Thank you for your help. I add itkHelpers to scripts/setup_py_configure.py in line 248. Then, i used the command 'python setup.py install' to install  ITKPythonPackage. The itkHelper module can be successfully  imported, but i can not use itk.MeshFileReader, how do i install itk mesh module?

[2019-05-14 12:49] fbudin69500 commented on #128
I had missing that second issue (Mesh) in your report. I will take a look at it today.

[2019-05-16 14:56] fbudin69500 commented on #128
For reference, the discussion about the `itk.MeshFileReader` issue is on the [ITK discourse forum](https://discourse.itk.org/t/trianglemeshtobinaryimagefilter-in-python/1604/12?u=fbudin) and an issue has been opened in the [ITK Github repository](https://github.com/InsightSoftwareConsortium/ITK/issues/866#event-2339854753).

[2019-05-16 14:56] #128 closed

[2019-07-01 13:20] regiscely commented on #98
Thank you for the ppc64le package availability but do you have ppc64le whl for version 5.0.0 ?

[2019-07-09 02:22] thewtex commented on #98
@regiscely we need to resolve this issue: https://github.com/InsightSoftwareConsortium/ITK/issues/1078

[2019-10-29 21:30] thewtex commented on #129
We are Python 3 only, now :tada:

[2019-10-29 21:30] #129 closed

[2020-02-11 21:11] thewtex opened #135 "Package a README in wheels for PyPI documentation"
The README content can include the ITK repository README (including citation information), and a pointer to the ITK Python Quick Start Guide.

Suggested-by: @jhlegarreta

[2020-02-11 21:26] jhlegarreta commented on #135
Thanks for the unbelievable effort to push things forward and make ITK and its ecosystem a lot more enjoyable @thewtex !

[2020-02-19 18:14] thewtex commented on #119
Investigation by @fbudin69500 revealed that this resulted in a minimal size reduction in the binaries.

[2020-02-19 18:14] #119 closed

[2020-03-06 03:37] #135 closed

[2020-04-17 20:43] mseng10 opened #139 "circleci and travis tests failing for ITK remote modules"
I am updating the remote modules for ITK v5.1rc02. Each of their respective circleci and travis python package builds are failing. When I build circleici or travis with the master branch of any of the remote modules I get the following error:
![Screen Shot 2020-04-17 at 3 52 58 PM](https://user-images.githubusercontent.com/42974718/79613127-8ebdc180-80c3-11ea-9024-644ad2aef4a3.png)![Screen Shot 20

[2020-04-17 22:30] thewtex commented on #139
@mseng10 could you please try v5.1rc03? Thanks!

@hjmjohnson

[2020-04-22 03:45] mseng10 commented on #139
@thewtex I got the same issue using v5.1rc03.

[2020-04-22 22:07] SimonRit commented on #139
I think I have a similar issue on Azure pipelines with the RTK python package after changing the version of the ITKPythonPackage from 5.0.1 to 5.1rc3, see the build log [here](https://dev.azure.com/simonrit/RTK/_build/results?buildId=408&view=logs&jobId=eafb87dd-1923-5b11-0b2b-e4ed58eef8aa&j=eafb87dd-1923-5b11-0b2b-e4ed58eef8aa&t=c476e6ed-da0f-5921-29b4-af92b6bde1f3).

[2020-04-24 22:10] thewtex commented on #139
@mseng10 @SimonRit this will be addressed by #141 in 5.1.0.

[2020-05-04 17:39] mseng10 commented on #139
@thewtex thank you for addressing this! Closing issue now.

[2020-05-04 17:39] #139 closed

[2020-05-07 02:33] thewtex commented on #139
A new GitHub Actions configuration for ITK 5.1.0 remote module CI is added here:

  https://github.com/InsightSoftwareConsortium/ITKModuleTemplate/pull/82

We just copy the *{{ cookiecutter.project_name }}/.github/workflows/build-test-package.yml* to the remote module repository. Optionally, set `pypi_password` to be a PyPI API token for the package, and the packages will be uploaded the next time

[2020-05-13 19:52] thewtex commented on #125
Closed by #142

[2020-05-13 19:52] #125 closed

[2020-05-20 08:59] xiaoxifei1223 opened #143 "import _ITKPyBasePython failed"
my Env:
win10 64 bits
python 3.6
itk 5.1.0

my err:
 File "C:\Users\haoch\AppData\Local\Programs\Python\Python36\lib\site-packages\itk\Configuration\..\ITKPyBasePython.py", line 15, in <module>
    import _ITKPyBasePython
ImportError: DLL load failed:

when I use itk.imread(path),then the error occured
what can I do?

[2020-05-21 12:47] thewtex commented on #143
Hello, I am working on a patch for this -- I will follow-up when it is ready to test.

[2020-05-25 14:04] danarteaga commented on #143
Great - I have the same issue on Windows 10.

[2020-05-26 15:03] thewtex commented on #143
@xiaoxifei1223 @danarteaga please install `5.1.0.post1` with:

[code]

and let us know how it goes.

[2020-05-26 16:27] danarteaga commented on #143
Unfortunately, this is still giving me the same error. This error was not present when I downgraded to itk v5.0.1.

[2020-05-28 02:01] xiaoxifei1223 commented on #143
Thanks everyone, when I use itk v 5.0.0, the error don`t occure.

[2020-05-28 02:09] danarteaga commented on #143
Just to clarify, I am still getting the error with 'itk==5.1.0.post1'

[2020-06-01 13:41] thewtex commented on #143
@danarteaga thanks for testing and the feedback. An update has been posted `5.1.0.post2`. @xiaoxifei1223 @danarteaga please install `5.1.0.post2` with:

[code]

and let us know how it goes.

[2020-06-01 19:32] danarteaga commented on #143
It works now, thanks!

[2020-06-01 21:45] #143 closed

[2020-06-29 15:09] Leengit opened #144 "Clarify documentation on Automate PyPI Package Uploads"
Indicate URL for adding a PyPI token.  Give more information on token name and scope name.  Give more information on version numbers.

[2020-06-29 15:11] Leengit commented on #144
Assigned to Leengit.  Documentation label.

[2020-07-06 17:25] Leengit commented on #144
Closed with pull request [DOC: Clarify Automate PyPI Package Uploads #145](https://github.com/InsightSoftwareConsortium/ITKPythonPackage/pull/145).

[2020-07-06 17:25] #144 closed

[2020-07-31 20:49] hjmjohnson opened #147 "Build local development python wheels"
The documentation for the ITKPythonPackage is very confusing.

I want to set up a local development environment where I can make changes to ITK and test how those changes affect python functionality quickly (i.e. without installing docker which I don't have access rights to do).

Reading the existing documentation, and the various scripts used to make wheels does not provide sufficient informatoin

[2020-08-06 14:02] thewtex commented on #147
@hjmjohnson does the described script currently work as desired?

[2020-08-17 17:31] thewtex opened #148 "Generate API docs for Sphinx"
Generate API docs from the Python package in Sphinx to add to the [ReadTheDocs documentation](https://itkpythonpackage.readthedocs.io/en/master/).

[2020-10-21 15:58] thewtex commented on #126
In the process, migrate to the `ITK` repository.

[2020-11-29 14:54] thewtex commented on #147
Instructions added in #149

[2020-11-29 14:54] #147 closed

[2020-11-29 16:55] thewtex opened #150 "Linux wheels built on manylinux2014"
Improved compiler optimizations and standards support. manylinux1 is being deprecated.

[2020-11-29 16:55] thewtex opened #151 "Add manylinux arm64 wheel"

[2021-01-05 19:40] #150 closed

[2021-01-05 19:40] #118 closed

[2021-01-20 15:48] dzenanz opened #153 "Packages for all Python versions get built"
This breaks GitHub actions CI VM disk size limit of 14GB. Running the below script locally produces multiple packages.
[code]
[code]

[2021-01-20 19:36] thewtex commented on #153
[code]

These are all included in the [pre-built tarball](https://github.com/InsightSoftwareConsortium/ITKPythonBuilds/releases/tag/v5.2rc01) -- they are not generated by the build scripts.

The build script `./ITKPythonPackage/scripts/dockcross-manylinux-build-module-wheels.sh cp36` should only build for `cp36`.

If disk usage is an issue, the build script may need to remove the builds for versio

[2021-01-26 15:25] #153 closed

[2021-03-05 05:55] hubutui opened #154 "fail to build release 5.2rc03 on ArchLinux"
Error log:
[code]

See the complete build log [here](https://github.com/InsightSoftwareConsortium/ITKPythonPackage/files/6088377/python-itk.build.txt)

[2021-04-02 18:01] thewtex commented on #154
How is the build invoked?

[2021-04-02 18:01] thewtex opened #155 "Drop support for Python 3.6"

[2021-04-03 01:15] hubutui commented on #154
[code]
I use clang instead of gcc, because I used to build python-itk 5.1.2 with clang.

[2021-04-05 13:39] thewtex commented on #154
Does the same issue occur with the `v5.2.0` tag (the current `release` branch)?

[2021-04-06 00:59] hubutui commented on #154
yes, check the latest build log for v5.2.0 [here](https://build.archlinuxcn.org/~imlonghao/log/python-itk/2021-04-06T04:17:01.html).

[2021-04-06 22:33] thewtex commented on #154
@hubutui , please try this branch https://github.com/InsightSoftwareConsortium/ITKPythonPackage/pull/156

[2021-04-07 05:09] hubutui commented on #154
I got this error when building with clang 11.1.0:
[code]
check the complete build log [here](https://github.com/InsightSoftwareConsortium/ITKPythonPackage/files/6269071/log.clang.txt)

I could build itk with gcc 10.2.0. I create pkg for ArchLinux with:
[code]
But I fail to read example image with `itk.imread()`, error output:
[code]
and `itk.Image.GetTypes()` gives me:
[code]

Did I use the wrong

[2021-04-21 01:35] thewtex commented on #154
@hubutui please test this patch:
https://github.com/InsightSoftwareConsortium/ITK/pull/2498

types are available in ITK Python. To print the supported
types, run the following command in your python environment:

The default build does not enable support for all pixel types. To add support for more pixels type, enable CMake configurations such as:

https://github.com/InsightSoftwareConsortium/ITKP

[2021-04-21 14:52] hubutui commented on #154
OK, I could now build python-itk with [pull 156](https://github.com/InsightSoftwareConsortium/ITKPythonPackage/pull/156) and  [pull 2498](https://github.com/InsightSoftwareConsortium/ITK/pull/2498) patches applied.
[code]
However, I still fail to read the example image with `itk.imread()` with a similar error message as above.

Are these wheels from PyPI build with:
[code]
?
I could confirm that i

[2021-04-21 15:07] yliu7366 opened #158 "itkHelpers.py missing in itk python 5.2.0"
Unable to find itkHelpers.py in the installation and got python error:
ModuleNotFoundError: No module named 'itkHelpers'

itk python 5.2.0 installed via pip install itk

[2021-04-21 19:50] thewtex commented on #154
This indicated the `signed short` pixel type, which is wrapped by default.

The error message says 2D signed short images are wrapped. However, I do not see 3D listed.

As with #156, we may need to remove the quotes.

[2021-04-22 09:24] hubutui commented on #154
@thewtex I'm confused, if I run
[code]
doesn't it means:
[code]
?

[2021-04-22 15:31] thewtex commented on #154
@hubutui yes, how about `"-DITK_WRAP_IMAGE_DIMS:STRING=2;3;4"

[2021-04-22 15:38] hubutui commented on #154
I could build python-itk with:
[code]
However, it seems that `-DITK_WRAP_IMAGE_DIMS:STRING="2;3;4"` is not passed to ITK build stage, so `itk.Image.GetTypes()` shows no 3D type supported.

[2021-04-22 16:14] hubutui commented on #154
I check the [build log](https://build.archlinuxcn.org/~imlonghao/log/python-itk/2021-04-22T04%3A17%3A01.html), and log messages mentioned `ITK_WRAP_IMAGE_DIMS` in build stage:
[code]

[2021-04-30 05:39] hubutui commented on #154
update:
I rebuild with v5.2.0.post1, now `ITK_WRAP_IMAGE_DIMS:STRING=2,3,4` is found in `${srcdir}/ITKPythonPackage-5.2.0/_skbuild/linux-x86_64-3.9/cmake-build/ITKb/CMakeCache.txt` as expected. However, it seems that there is something wrong with the install step.
[code]
Nothing is installed except an `__init__.py` file.

[2021-05-04 15:01] thewtex commented on #158
Hi @yliu7366 , which `itk` Python packages do you have installed?

[2021-05-04 15:03] thewtex commented on #154
@hubutui thanks for the update.

Does `python setup.py bdist_wheel`, `python -m pip install dist/*.whl` work?

[2021-05-04 15:04] thewtex commented on #151
Available in itk-5.2.0.post1

[2021-05-04 15:04] #151 closed

[2021-05-04 15:55] hubutui commented on #154
[code]
No, it didn't work. Check the complete build log[here](https://github.com/InsightSoftwareConsortium/ITKPythonPackage/files/6422308/log.txt).

[2021-05-04 16:54] thewtex commented on #154
A quick looks, and I am having a hard time finding the error. Any pointers?

It seems to end with

and the fils that were built in the package, which look to be in their correct location:

[2021-05-05 01:56] hubutui commented on #154
I check the build wheel file, it's less than 1MB. According to https://github.com/InsightSoftwareConsortium/ITKPythonPackage/blob/f7fb03173bbde8e5a6a7462e0b478cc7287737a3/scripts/internal/manylinux-build-wheels.sh#L51-L79
I rebuid with these commands:
[code]
I could now build the wheel file, but the file `itkConfig.py` is installed to `/usr`, not `/usr/lib/python3.9/site-packages`. This lead to im

[2021-05-06 01:04] hubutui commented on #154
I also try to build the python binding with only ITK source, not using this repo.
[code]
everything works great. I could build and install both ITK and its python binding.

[2021-05-10 15:52] tbirdso opened #161 "Script failure in macOS Github CI"
## Overview

Failures in the [`Build Python Package` CI step](https://github.com/slicersalt/ITKShape/runs/2546694241?check_suite_focus=true) may be related to [macpython-build-common.sh](https://github.com/InsightSoftwareConsortium/ITKPythonPackage/blame/master/scripts/macpython-build-common.sh).

## Details

The `Build Python Package` step of the `build-macos-python-package` CI check is failing i

[2021-05-11 20:19] tbirdso commented on #161
@thewtex Here's the issue I mentioned earlier - has implications for both `ITKShape` and `ITKModuleTemplate`.

[2021-05-12 01:34] thewtex commented on #161
@tbirdso thank you so much for the detailed write-up and description! This is very helpful.

Addressed with https://github.com/InsightSoftwareConsortium/ITKPythonPackage/commit/36e36bb01dac03abad5b70dc35bd8b7aebd68fab and verified with both `ITKShape` and `ITKModuleTemplate`.

[2021-05-12 01:34] #161 closed

[2021-05-12 02:02] thewtex commented on #161
We install all python.org CPython versions that we support -- for ITK 5.2 this is 3.6, 3.7, 3.8, 3.9. ITK 5.3 will drop 3.6, add 3.10.

If they are binary packages, this may be a bug in the Homebrew build configuration -- Python is only required to help build the `ninja` binary.

`itk-5.2.0.post2` contains fixes for ARM, which is why we needed to handle ninja differently.

[2021-05-17 14:32] dboaretti commented on #158
I would like to add that I have the same kind of issue:
[code]

The error is:
[code]

[2021-05-17 14:33] dboaretti commented on #158
The itk packages are:
`itk-5.2.0.post2 itk-core-5.2.0.post2 itk-filtering-5.2.0.post2 itk-io-5.2.0.post2 itk-numerics-5.2.0.post2 itk-registration-5.2.0.post2 itk-segmentation-5.2.0.post2`

[2021-05-20 19:10] zndr27 commented on #158
I have the same issue. I'm using the following packages:

itk                    5.2.0.post2
itk-core               5.2.0.post2
itk-filtering          5.2.0.post2
itk-io                 5.2.0.post2
itk-numerics           5.2.0.post2
itk-registration       5.2.0.post2
itk-segmentation       5.2.0.post2
itk-skullstripping     0.0.1

[2021-05-20 19:11] zndr27 commented on #158
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-2-535478225b72> in <module>
----> 1 dir(itk.StripTsImageFilter.New())

~/miniconda3/envs/mrsi/lib/python3.8/site-packages/itk/support/lazy.py in __getattribute__(self, attr)
     74                     module = self.__belong_lazy_att

[2021-05-20 19:56] zndr27 commented on #158
Changing the versions of ITK and all the modules to 5.1.0 fixed the issue for me.

[2021-05-23 23:39] thewtex commented on #158
We need to update related module packages for `itk-5.2.0.post2`.

@dboaretti it looks like you are using `itk-bonemorphometry`. This package was updated for `itk-5.2.0.post2` in version 1.3.0. Please try `pip install --upgrade itk-bonemorphometry`.

@zndr27 `itk-skullstripping` has also been upgraded in 0.1.0. Please try `pip install --upgrade itk-skullstripping`.

[2021-07-21 17:28] LouisD91 opened #163 "Install itkHelpers"
Hello,

I installed the itk library in order to apply color normalization for histopathology. so, I used :   `pip install itk-spcn`
However, when I want to use it, it says : `cannot import name 'itkHelpers' from 'itk.support'`

I know this problem has been taking care of in some other issues but I didn't understand how to tackle it. Can you explain it to me please ?

Thank you.

[2021-07-21 17:42] #163 closed

[2021-08-03 10:13] caniko commented on #158
I am using https://github.com/KitwareMedical/ITKMorphologicalContourInterpolation

What do I do?

[2021-09-14 07:43] McSinyx opened #164 "Wheels has linux_* platform tag instead of manylinux_*"
As of itk 5.2.1.post1, I noticed that the manylinux2014_x86_64 wheels have linux_x86_64 platform tag instead of what denoted in the file name.

[2021-09-30 02:26] thewtex commented on #164
@McSinyx thanks for the report. Where is the platform tag observed? Is this the case for all the wheels?

[2021-09-30 02:29] thewtex commented on #155
Dropped in 5.3

[2021-09-30 02:29] #155 closed

[2021-09-30 02:48] thewtex opened #165 "Add support for shared libraries dependencies in remote modules"
We want to package the OpenCL ICD loader in particular in dependent remote modules.

We can build on the shared library support in 5.3rc1 for TBB.

For the platform-specific wheel fix-up tools, auditwheel (Linux), delocate (macOS), delvewheel (Windows) we need to add support for additional shared libraries. Mostly, this should be making the scripts that expose the path to local libraries with envi

[2021-09-30 04:30] McSinyx commented on #164
The tag can be found in `itk-5.2.1.post1.dist-info/WHEEL` and it seems to be the case for all manylinux wheels of that release.

[2021-10-02 17:15] thewtex commented on #165
No

Correct. The only changes required are the changes in this repository in the three locations noted.

[2021-10-04 13:33] tbirdso commented on #165
Also note that attempting to configure and build `ITKPythonPackage` with CMake successfully builds the `oneTBB` target but configuring the `ITK` target fails:

  Could not find a package configuration file provided by "TBB" with any of
  the following names:

    TBBConfig.cmake
    tbb-config.cmake

  to a directory containing one of the above files.  If "TBB" provides a
  separate development pa

[2021-10-04 14:41] thewtex commented on #165
TBB is only available in ITK 5.3, so try:

[code]

Note that the default value in the script is older.

[2021-10-04 14:42] thewtex commented on #165
What are the commands used here?

[2021-10-04 14:53] tbirdso commented on #165
Thanks, I'll give this a shot

This was in relation to attempting to manually build ITKPythonPackage so as to fetch and build the `oneTBB-prefix` source, aka `cmake ITKPythonPackage ITKPythonPackage/build` and `cmake --build ITKPythonPackage/build`.

Since the `oneTBB-prefix` source is generated before the `ITK` build fails here I was able to move the folder up to `ITKPythonPackage/oneTBB-prefix`

[2021-10-04 15:22] tbirdso commented on #165
On the Windows side I can build a remote module (currently using `ITKVkFFTBackend` for testing purposes since we know it requires shared libraries) but cleanup fails to remove Vulkan remote module Git archive while in Powershell Administrator mode and exits early:

Traceback (most recent call last):
  File "C:\P\IPP\scripts\windows_build_module_wheels.py", line 71, in <module>
    build_wheels(cle

[2021-10-04 15:25] tbirdso commented on #165
Fixing the ITK version with `export ITK_PACKAGE_VERSION=v5.3rc01` in Ubuntu still fails to get oneTBB-prefix` as it is not present/fetched in ITKPythonPackage:

The script is able to continue past this error but still fails on the Doxygen SSL certificate problem:

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total

[2021-10-04 18:29] tbirdso commented on #165
For future reference it appears that `oneTBB-prefix` is found in the [ITKPythonBuild v5.3rc01 tarball](https://github.com/InsightSoftwareConsortium/ITKPythonBuilds/releases/tag/v5.3rc01) under `ITKPythonPackage/ITK-source` rather than `ITKPythonPackage`

[2021-10-04 21:29] SimonRit commented on #165
For your information, this SSL issue is also a problem in ITK remote modules, e.g. in [RTK](https://github.com/SimonRit/RTK/runs/3791977454) or [TubeTK](https://github.com/InsightSoftwareConsortium/ITKTubeTK/runs/3796462118). Unfortunately, I don't know how to solve it! I tried [this](https://github.com/SimonRit/RTK/pull/440/commits/34c355510c56611c318f82efdc83be52209a8c4f) but it does not work...

[2021-10-05 03:43] thewtex commented on #165
This may be caused by:

https://scotthelme.co.uk/lets-encrypt-old-root-expiration/

We could try adding:

[code]

[2021-10-05 08:16] SimonRit commented on #165
Thanks @thewtex. I tried and it did not work: https://github.com/SimonRit/RTK/runs/3800029186?check_suite_focus=true
I also tried using `dpkg-reconfigure` but same problem: https://github.com/SimonRit/RTK/runs/3800150833
After a closer look, I think the problem is in the manylinux docker and should be fixed in `ITKPythonBuilds-linux.tar.zst`. I'll open an issue on ITK/ITKPythonPackage for keeping

[2021-10-05 08:19] SimonRit opened #166 "Linux compilation fails due to "SSL certificate problem: certificate has expired""
The error is
[code]
This SSL issue is also a problem in ITK remote modules, e.g. in [RTK](https://github.com/SimonRit/RTK/runs/3791977454) or [TubeTK](https://github.com/InsightSoftwareConsortium/ITKTubeTK/runs/3796462118).
See #165 for a conversation on this topic.

[2021-10-05 12:38] tbirdso commented on #165
Thank you for tracking this @SimonRit !

After switching to ITK v5.3rc01 (`export ITK_PACKAGE_VERSION="v5.3rc01"`) per @thewtex 's suggestion I stopped seeing the SSL issue yesterday and the build was able to proceed through [`internal/manylinux-build-common.sh`](https://github.com/InsightSoftwareConsortium/ITKPythonPackage/blob/master/scripts/internal/manylinux-build-common.sh) without failure. M

[2021-10-05 12:39] tbirdso commented on #166
Per @thewtex in [Issue 165](https://github.com/InsightSoftwareConsortium/ITKPythonPackage/issues/165) perhaps try `export ITK_PACKAGE_VERSION=v5.3rc01`?

[2021-10-05 16:08] thewtex commented on #166
We should update the manylinux base image to the latest here:

https://hub.docker.com/r/dockcross/manylinux2014-x64/tags?page=1&ordering=last_updated

[2021-10-06 18:19] thewtex opened #167 "Add ITKPythonPackage/oneTBB-prefix to the ITKPythonBuilds tarball scripts"

[2021-10-12 22:25] tbirdso opened #171 "Update ITK Release Documentation for oneTBB sources"
Release v5.3rc01 updates ITKPythonPackage to rely on sources in `ITKPythonPackage/oneTBB-prefix` for building ITK with TBB support, but `oneTBB-prefix` is not currently included in the ITKPythonPackage source tree or as a git submodule. [ITK Release Documentation](https://github.com/InsightSoftwareConsortium/ITK/blob/master/Documentation/Maintenance/Release.md) uses `git clean -fdx` to remove old

[2021-10-13 12:53] #171 closed, assigned to tbirdso

[2021-10-13 13:09] #165 closed

[2021-10-27 07:46] cakeinspace opened #178 "TimeVaryingDiffeomorphisms in ITKPythonPackage"
Hello I wanted to know if the itkpythonpackage provides bindings for the deformable registration components of itk. So far i havent found this using google search.

Thansk

[2021-10-29 17:21] #178 closed, assigned to nobody

[2021-11-26 16:06] LucasGandel opened #182 "External module packaging with shared libraries on Windows"
After repairing wheels on Windows, delvewheel copies [this block](https://github.com/adang1345/delvewheel/blob/master/delvewheel/wheel_repair.py#L34) in the package \_\_init\_\_.py file for shared libraries to be loaded at runtime.
The block is appended if the \_\_init\_\_.py file exists, otherwise the \_\_init\_\_.py file is created.

Hence, the resulting ITK external module wheel has an \_\_init

[2021-11-26 16:26] LucasGandel commented on #182
@thewtex @tbirdso We are using your awesome implementation to repair wheels of external modules (RTK and CudaCommon need to ship the CudaToolkit libs). It works great with a few manual steps! Thanks a lot for the hard work!

We will now work on fixing those manual steps for your implementation to work in the general case, but I wanted to discuss the possible fix with you here first.

We should pre

[2021-12-10 15:17] LucasGandel commented on #182
Closed by #183

[2021-12-10 15:17] #182 closed

[2022-04-08 00:51] tbirdso opened #189 "Windows failure for building remote module packages with v5.3rc04 Python wheels"
Error trace:
[code]

Still investigating the root issue as `grep` appears to be extracted properly during setup:
[code]

[ITKSplitComponents failure](https://github.com/InsightSoftwareConsortium/ITKSplitComponents/runs/5875069162?check_suite_focus=true)

[2022-04-08 15:47] tbirdso commented on #189
@thewtex FYI there is also an issue building v5.3rc04 external module wheels for Windows, please see description

[2022-04-12 12:51] tbirdso opened #191 "Upgrade Docker image CMake version"
Warnings from Python external module CI show that CMake version is too low:
[code]

This is confirmed by manually downloading the image and running `cmake --version` in a bash shell.

CMake version should be upgraded to at least the ITK minimum (3.16.3) and preferably the maximum for future proofing (3.19).

[2022-04-12 12:56] tbirdso commented on #189
Verified using tmate SSH client that "C:\\P\\grep" is a valid directory on Windows ITK Python runner. It looks like a string may be malformed, was able to recreate the error by adding an extra quotation in the path. I.e, "C:\\\\P\\\\grep vs C:\\\\P\\\\grep.

[code]

[2022-04-12 13:08] tbirdso commented on #189
Investigating `delvewheel/path_dll.py`, it looks like [find_library](https://github.com/adang1345/delvewheel/blob/master/delvewheel/patch_dll.py#L156-L159) is simply iterating over PATH contents and finding directory contents, so perhaps the `grep` directory is set incorrectly? However, the last change to where we add `grep` to PATH was 4 years ago in [https://github.com/InsightSoftwareConsortium/

[2022-04-12 15:05] tbirdso commented on #189
Aha, the issue was in the external module CI procedure where extra quotes were added to PATH. Most likely this conflicted somehow with recent updates to how we use delvewheel. I will keep an eye out for this issue as we bump external modules for rc04.

[2022-04-12 15:32] tbirdso commented on #189
See ITKSplitComponents fix example at [https://github.com/InsightSoftwareConsortium/ITKSplitComponents/pull/51](https://github.com/InsightSoftwareConsortium/ITKSplitComponents/pull/51)

[2022-04-12 15:32] #189 closed

[2022-04-12 18:17] tbirdso opened #192 "Upgrade zstd version for Linux packaging"
`zstd` is currently [fetched from data.kitware.com](https://github.com/InsightSoftwareConsortium/ITKPythonPackage/blob/master/scripts/dockcross-manylinux-download-cache-and-build-module-wheels.sh#L40) for Linux builds and is out of date at v1.2.0 < v1.5.2. Either 1) zstd should be updated on data.kitware.com or 2) zstd should be pulled from an up-to-date source.

With this change the `--long=31` f

[2022-07-05 12:55] ntatsisk opened #194 "itk.Vector fails in anaconda+windows"
After installing itk 5.3rc4 in a fresh anaconda environment, we get an error when loading ITKCommonPython (e.g. by calling itk.Vector). However, creating an environment with a standalone install of python (without anaconda) works fine. You can find more details on the latter in this issue https://github.com/InsightSoftwareConsortium/ITKElastix/issues/154, where we originally spotted the error. Any

[2022-07-05 21:58] thewtex commented on #194
Hi @ntatsisk , thanks for the report. We are releasing 5.3rc4.post1 soon -- it will be interesting to see if this addresses this issue.

[2022-07-06 02:21] thewtex commented on #191
This appears to be Windows instead of a Linux Docker image? Was CMake 3.10.2 installed on the local system?

[2022-07-06 12:31] tbirdso commented on #191
You are right, after encountering this warning a couple more times I now believe the source is the `cmake_minimum_required` line in each given external module rather than the Docker CMake version.

See [https://github.com/InsightSoftwareConsortium/ITKSplitComponents/blob/master/CMakeLists.txt#L1](https://github.com/InsightSoftwareConsortium/ITKSplitComponents/blob/master/CMakeLists.txt#L1):
[code]

[2022-07-06 12:31] #191 closed

[2022-07-18 07:38] ntatsisk commented on #194
Thanks @thewtex. Unfortunately, version 5.3rc4.post1 leads to the same error for me.

[2022-07-22 21:52] thewtex commented on #194
@ntatsisk thanks for the testing and update! I made a few notes in: https://github.com/InsightSoftwareConsortium/ITK/issues/3391#issuecomment-1192955848

[2022-08-17 13:27] tbirdso opened #198 "Forward CMake arguments for MacOS Python wheel builds"
MacOS builds do not appear to have a mechanism for forwarding CMake arguments to wheel builds. [macpython-build-module-wheels.sh](https://github.com/InsightSoftwareConsortium/ITKPythonPackage/blob/master/scripts/macpython-build-module-wheels.sh)  sources [https://github.com/InsightSoftwareConsortium/ITKPythonPackage/blob/master/scripts/macpython-build-common.sh](https://github.com/InsightSoftwareC

[2022-09-02 16:21] tbirdso commented on #198
Closed in #199

[2022-09-02 16:21] #198 closed

[2022-09-02 16:27] tbirdso opened #201 "Failure to build remote module wheels for Github `macos-12` runner"
## Overview

Many ITK remote modules previously depended on the `macos-10.15` Github Actions CI runner which has now been deprecated ([blog post](https://github.blog/changelog/2022-07-20-github-actions-the-macos-10-15-actions-runner-image-is-being-deprecated-and-will-be-removed-by-8-30-22/)). Failures have been observed in updating to `macos-12` with a new XCode version.

### Workaround

For now r

[2022-09-02 20:32] thewtex commented on #201
@tbirdso yes, we will need to update the XCode SDK version used for the ITKPythonPackages.

[2022-09-19 14:30] tbirdso opened #203 "Linux Python `-manylinux2014` failures"
Linux Python external module CI that previously passed is now failing to build `-manylinux2014` tarballs on `ubuntu-20.04`.

Speculated to be related to [https://github.com/InsightSoftwareConsortium/ITKPythonPackage/pull/202](https://github.com/InsightSoftwareConsortium/ITKPythonPackage/pull/202); see https://github.com/InsightSoftwareConsortium/ITKGenericLabelInterpolator/pull/32#discussion_r9742

[2022-09-26 13:25] thewtex commented on #201
The itk-5.3rc4.post3 builds were built against /Applications/Xcode_13.2.1.app, which [is the default](https://github.com/actions/runner-images/blob/main/images/macos/macos-11-Readme.md) on the GitHub Action Runner `macos-11` image.

[2022-09-27 19:24] tbirdso opened #205 "Windows `v5.3rc04.post3` Python module failure"
https://github.com/InsightSoftwareConsortium/ITKSplitComponents/actions/runs/3128603934/jobs/5076652004

See fix for similar issue on macos

https://github.com/InsightSoftwareConsortium/ITKPythonPackage/pull/204

[2022-10-03 19:38] tbirdso commented on #205
Underlying issue is resolved in https://github.com/InsightSoftwareConsortium/ITKPythonPackage/pull/206

Patched Windows and Linux archives have been uploaded to https://github.com/InsightSoftwareConsortium/ITKPythonBuilds/releases/tag/v5.3rc04.post3 . Waiting for access to a clean MacOS machine in order to patch MacOS archives.

[2022-10-04 14:29] SimonRit commented on #205
Thanks! I can see that it fixed the issue in ITKSplitComponents but it did not on RTK's builts, see https://github.com/SimonRit/RTK/actions/runs/3182160673/jobs/5188134114. I did check that SimonRit/RTK@c568b79445823fd4af3ab396b8283ed83edfccbe fixes `build-test-cxx (ubuntu-20.04)`. It seems to be an RTK specific issue if ITKSplitComponents does not have this issue.
cc @LucasGandel

[2022-10-04 16:00] tbirdso commented on #205
Hi @SimonRit , this may indeed be an RTK-specific issue. Looking back through the logs you provided, the first error in at least the Windows build is this:
[code]
When we look at [`itkPyBufferRTK.wrap`](https://github.com/SimonRit/RTK/blob/master/wrapping/itkPyBufferRTK.wrap) we find that it is trying to read a file at `ITKBridgeNumpy_WRAP_DIR`:
[code]

From these two snippets it seems that the va

[2022-10-04 20:31] tbirdso commented on #205
Patched v5.3rc04.post3 archives have been uploaded at https://github.com/InsightSoftwareConsortium/ITKPythonBuilds/releases/tag/v5.3rc04.post3. Re-running ITKSplitComponents CI to verify that the module build issue is resolved across platforms. https://github.com/InsightSoftwareConsortium/ITKSplitComponents/pull/62

[2022-10-04 21:15] tbirdso commented on #205
Closing as CI now passes in https://github.com/InsightSoftwareConsortium/ITKSplitComponents/pull/62 with the patched archives.

[2022-10-04 21:15] #205 closed

[2022-10-04 21:15] tbirdso commented on #203
Resolved in https://github.com/InsightSoftwareConsortium/ITKSplitComponents/pull/62 with an updated list of manylinux versions.

[2022-10-04 21:15] #203 closed

[2022-10-11 01:25] jcfr commented on #158
Since issue is resolved by updating ITK and associated modules (see comment above). Closing.

[2022-10-11 01:25] #158 closed

[2022-10-25 11:15] mdevl opened #207 "Allow building module wheels for arm64 linux"
Currently the script `dockcross-manylinux-download-cache-and-build-module-wheels.sh` only allows to build x86 python wheels. To my understanding it should be possible  to also build wheels of a python ITK module for arm64 architecture on a linux machine.

Modifying the user-facing script to allow specifying an architecture different from x86 would be very helpful and greatly appreciated.

[2022-10-25 14:37] tbirdso commented on #207
cc @jcfr @thewtex

[2022-10-31 14:59] dzenanz opened #209 "MACOSX_DEPLOYMENT_TARGET ignored"
https://github.com/InsightSoftwareConsortium/ITKPythonPackage/blob/cbb10fa729d89252f918668c9c9801a3057d6cd3/scripts/macpython-build-module-wheels.sh#L71 and https://github.com/InsightSoftwareConsortium/ITKPythonPackage/blob/cbb10fa729d89252f918668c9c9801a3057d6cd3/scripts/macpython-build-wheels.sh#L147 specify `CMAKE_OSX_DEPLOYMENT_TARGET`, thus effectively ignoring environment variable `MACOSX_DE

[2022-10-31 15:05] dzenanz opened #210 "CMake version ignored"
Despite explicitly [getting CMake 3.24 in the CI](https://github.com/dzenanz/ITKIOOMEZarrNGFF/blob/697b25163b6e0423865d1e67288bb43761a04707/.github/workflows/build-test-package.yml#L151), an older version is used during some stage resulting in [insufficient version error](https://github.com/dzenanz/ITKIOOMEZarrNGFF/actions/runs/3361748760/jobs/5572552148):

[code]
This might be a problem in https:

[2022-10-31 16:56] thewtex commented on #209
@dzenanz could you please create a patch that sets `osx_target` to `MACOSX_DEPLOYMENT_TARGET` if `MACOSX_DEPLOYMENT_TARGET` is set?

[2022-10-31 16:58] thewtex commented on #210
@dzenanz `cmake` is provided in the Linux Docker images via [dockcross](https://github.com/dockcross/dockcross), so it may need to be bumped there.

[2022-11-01 14:11] #209 closed

[2022-11-02 15:40] thewtex opened #213 "Update scripts to generate Python 3.11 wheels"

[2022-11-02 17:17] jcfr opened #214 "itk 5.3rc4.post3: Failure to load libtbb library (observed on macOS 10.13)"
Update the `oneTBB` external project implemented in [CMakeLists.txt](https://github.com/InsightSoftwareConsortium/ITKPythonPackage/blob/99857101d1433e61011648a2663a01fa1bf967b1/CMakeLists.txt#L108-L125) to pass these options when building TBB:

[code]

where `osx_deployment_target` is set based on the logic already implemented in [ITKPythonPackage/scripts/macpython-build-wheels.sh](https://github.

[2022-11-03 19:28] thewtex opened #217 "Update to scikit-build-core"
:rocket: :man_singer: :robot:

[2022-11-04 15:38] tbirdso commented on #210
@dzenanz Thanks for the fix. Was this resolved in #212?

[2022-11-04 15:40] dzenanz commented on #210
No, I don't think it did. It just bumps CMake version inside dockcross.

[2022-11-04 15:42] tbirdso commented on #210
Got it, I misunderstood, thanks.

[2022-11-07 18:49] #214 closed

[2022-11-07 23:18] #213 closed

[2022-11-09 02:23] #201 closed

[2022-11-15 12:57] SimonRit opened #223 "Failed to compile module with v5.3rc04.post4"
The recently released RTK packages are already obsolete with the new 5.3rc4.post4 ITK packages. However, when I try to upgrade, the CI to [post4 ITK Python builds](https://github.com/InsightSoftwareConsortium/ITKPythonBuilds/releases/tag/v5.3rc04.post4), I have a [new error at link time](https://github.com/SimonRit/RTK/actions/runs/3469976218/jobs/5797612010#step:6:825). I have no idea what could

[2022-11-17 16:26] SimonRit commented on #223
The same issue is being addressed in InsightSoftwareConsortium/ITKRemoteModuleBuildTestPackageAction#9 (cc @tbirdso @LucasGandel).

[2022-11-17 16:35] tbirdso commented on #223
Hi @SimonRit, yes, good catch. ITK Windows build archives for v5.3rc04.post4 are generated with VS22 rather than VS19 as before. Due to a change in MSVC it is required that ITK modules for v5.3rc04.post4 must also be built with VS22.

[2022-11-18 20:33] SimonRit commented on #223
See fix in InsightSoftwareConsortium/ITKRemoteModuleBuildTestPackageAction#9

[2022-11-18 20:33] #223 closed

[2022-11-19 05:27] yurivict opened #226 "Build breaks in TBB"
[code]

The oneTBB distribution uses ```-Werror``` with the code that has at least one C++ warning which makes it broken. Are you able to build it?

Why download and build oneTBB when it exists in packages? How can I use an existing package instead?

Version: 5.3rc04.post3
clang-14
FreeBSD 13.1

[2022-11-19 06:04] yurivict opened #227 "Build fails with: cmake_args=['-DITKPythonPackage_SUPERBUILD=0', '-DITKPythonPackage_USE_TBB=OFF', '-DITK_BINARY_DIR='+environ['ITK_BINARY_DIR']]"
Log:
[code]

The resulting installation fails:
[code]

Version: 5.3rc04.post3
Python: 3.9
FreeBSD 13.1

[2022-11-21 15:30] dzenanz commented on #226
I don't think I ever built TBB myself. @thewtex might know why you need to build it, but I assume that's because Intel didn't build it themselves for your platform (OS+ISA).

[2022-11-24 13:54] thewtex commented on #226
Yes, oneTBB is sensitive to compilers / platforms.

@yurivict this repository contains the configuration for building the wheel packages distributed on pypi.org. If the goal is to build / install for a system installation, the wrapping can just be built from the `ITK` repository with `ITK_WRAP_PYTHON` `ON`.

[2022-11-24 13:54] #226 closed

[2022-11-24 13:55] thewtex commented on #227
These set of options are not expected to work.

[2022-11-24 13:55] #227 closed

[2022-11-24 13:56] thewtex commented on #192
Closed via #225

[2022-11-24 13:56] #192 closed

[2022-11-24 14:04] thewtex commented on #126
Investigate cibuildwheel.

[2022-11-24 14:08] thewtex commented on #194
A note to re-test with `itk-5.3.0` -- we updated the toolchain to VS2022.

[2022-11-24 14:08] thewtex commented on #207
Closed via #228

[2022-11-24 14:08] #207 closed

[2022-11-24 14:49] thewtex commented on #210
The CMake version is not expected to come from the host system.

[2022-11-24 14:49] #210 closed

[2022-11-28 11:24] ntatsisk commented on #194
@thewtex, I just checked with `itk-5.3.0` and the issue is indeed resolved. Feel free from my side to close the issue. Thanks! :)

[2022-11-28 14:04] #194 closed

[2022-11-29 15:54] tbirdso opened #232 "Add ITKPythonPackage update step in download scripts"
ITKPythonBuilds archives are distributed with a git tree for ITKPythonPackage to 1) indicate what build scripts were used in creating the packaged build artifacts and 2) provide easy access to scripts for building module wheels using the packaged artifacts. However, it is often the case that ITKPythonPackage scripts must be patched following ITKPythonBuilds releases.

Following from initial invest

[2022-11-29 16:20] dzenanz commented on #232
This needed for CI in https://github.com/dzenanz/ITKIOOMEZarrNGFF. The old version of Linux build script references the old version of dockcross, resulting in [build failure](https://github.com/dzenanz/ITKIOOMEZarrNGFF/actions/runs/3574958461/jobs/6010884071). As you assigned this to yourself, I will keep an eye on the progress 😄

[2022-11-29 16:21] tbirdso commented on #232
Thanks for the heads up @dzenanz , aiming to have a PR up today

[2022-11-30 14:09] tbirdso opened #235 "Latest manylinux images missing `sudo`"
## Summary

Local and CI tests in relation to https://github.com/InsightSoftwareConsortium/ITKPythonPackage/pull/233 fail to build on Linux. The issue appears to originate from the dockcross manylinux image.

## Observed behavior

[code]

See log: https://github.com/InsightSoftwareConsortium/ITKSplitComponents/actions/runs/3583756532/jobs/6029570633

## Expected behavior

 Build succeeds.

## Step

[2022-11-30 14:28] dzenanz commented on #235
Even stranger is this [result](https://github.com/dzenanz/ITKIOOMEZarrNGFF/actions/runs/3577913287/jobs/6017461091). Success for Python 3.7 and 3.8, failure for 3.9 and 3.10 with
[code]
Also, MacOS packages [failed](https://github.com/dzenanz/ITKIOOMEZarrNGFF/actions/runs/3577913287/jobs/6017462433) due to download error. This makes me think that your initial diagnosis about missing sudo is not qu

[2022-11-30 14:42] tbirdso commented on #235
Yes, I am confused as to why 3.7 and 3.8 would succeed but 3.9 and 3.10 would fail. It is clear that `sudo ldconfig` succeeds in 3.7 and 3.8 and fails in 3.9 and 3.10.

3.7:
[code]

3.10:
[code]

I believe these are two unrelated issues. Both MacOS attempts in the links you've provided failed at the CastXML download step long after the build has started, while Linux builds fail before the build be

[2022-11-30 14:53] dzenanz commented on #235
I didn't attempt to reproduce directly. Also, aren't the same docker images used for building packages for all versions of Python?

[2022-11-30 15:02] tbirdso commented on #235
Yes, all Linux builds for a certain specialization ("-manylinux_2_28", "-manylinux2014") are built using the same dockcross image. However, the v5.3.0 module wheels that have been built and released so far were built with the ITKPythonPackage scripts packaged with ITKPythonBuilds archives, i.e. the scripts at the ITKPythonPackage v5.3.0 tag. The updated image referenced in https://github.com/Insig

[2022-11-30 20:55] thewtex commented on #235
Will be addressed via https://github.com/dockcross/dockcross/pull/747

[2022-11-30 21:05] #232 closed